.footer{
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-start;
    padding: 24px 0;
    padding-bottom: 12px;
    gap: 24px;
}

@media (min-width: 770px) {
   
}

@media (min-width: 990px) {
    .footer{
        justify-content: flex-end;
        padding-top: 42px;
        margin-bottom: 0;
    }
}

@media (min-width: 1400px) {
  
}