* {
    box-sizing: border-box; // Устанавливаем box-sizing для всех элементов
}

.genres__list {
    display: flex;
    flex-wrap: wrap; // Позволяет элементам переноситься на новую строку
    margin-bottom: 40px;
    gap: 24px; // Отступы между элементами

    &-element {
        height: 304px;
        width: calc(25% - 18px); // Четыре элемента в ряд, учитываем отступы
        transition: box-shadow .2s ease-in-out;

        &-link {
            height: 100%;
            width: 100%;
            border-radius: 24px;

            .genresCard {
                height: 100%;
                width: 100%;
                outline: 1px solid rgba(255, 255, 255, 0.25);
                border-radius: 24px;
                box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.33);
                position: relative; 
                transition: box-shadow .2s ease-in-out;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                background-size: cover;

                &__title {
                    color: white;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    text-align: center;
                    border-bottom-left-radius: 24px;
                    border-bottom-right-radius: 24px;
                    margin: 0;
                    padding: 20px 0 30px 0;
                    background-color: black;
                }
            }

            .genresCard:hover {
                box-shadow: 0px 0px 160px 0px rgba(255, 255, 255, 0.33);
            }
        }
    }
}

// Мобильные устройства
@media (max-width: 769px) {
    .genres__list {
        gap: 16px; // Уменьшаем промежуток между элементами

        &-element {
            height: 200px; // Уменьшаем высоту элементов для мобильных
            width: 100%; // Оставляем 100% ширины
        }
    }
}

// Планшеты
@media (min-width: 770px) and (max-width: 989px) {
    .genres__list {
        gap: 24px; // Оставляем промежуток между элементами

        &-element {
            height: 250px; // Увеличиваем высоту элементов для планшетов
            width: calc(50% - 12px); // Два элемента в ряд, учитываем отступы
        }
    }
}

// Десктопы
@media (min-width: 990px) {
    .genres__list {
        gap: 24px; // Увеличиваем промежуток между элементами

        &-element {
            width: calc(25% - 18px); // Четыре элемента в ряд, учитываем отступы
        }
    }
}